@model ICollection<FullStackTest.Models.PersonDataModel>;


@{
    ViewData["Title"] = "Home Page";

}

@section Scripts{

    <script>
        //When select all check box is clicked check all or uncheck all
        $('#selectAllCheckBox').click(function () {
            var totalCheckedBoxes = 0;
            var totalBalance = 0

            var chk = $(this).is(':checked');
            //Loop through the table body and see if check box is already checked
            $('input[type=checkbox]', "#TableBody").each(function () {
                if (chk) {
                    //If not checked check it and add one to the totalCheckedBox 
                    $(this).prop('checked', 'checked');
                    totalCheckedBoxes++;

                    //Add the balance from that row
                    var bal = parseInt($(this).closest('tr').find('#balance').text());
                    totalBalance += bal
                }else {
                    $(this).prop('checked', '');
                }
            });

            //Set the text for the totalBalance and the totalCheckedBoxes count
            $("#lblTotalAmount").text(totalBalance);
            $("#lblTotalChecked").text(totalCheckedBoxes);
        }); 

        //If any one check box is clicked
        $('.checkbox').click(function () {
            //Get the totalCheckBox count and total balance values
            var totalCheckedBoxes = parseInt($("#lblTotalChecked").text());
            var totalBalance = parseInt($("#lblTotalAmount").text());

            //Check if check box is already checked
            if ($(this).is(':checked')) {
                //If not checked add to totalCheckedBox count and add the balance from that row
                var bal = parseInt($(this).closest('tr').find('#balance').text());
                totalCheckedBoxes++;
                totalBalance += bal
            } else {
                //If  checked subtract to totalCheckedBox count and subtract the balance from that row
                var bal = parseInt($(this).closest('tr').find('#balance').text());
                totalCheckedBoxes--;
                totalBalance -= bal
            }

            //Set the text for the totalBalance and the totalCheckedBoxes count
            $("#lblTotalAmount").text(totalBalance);
            $("#lblTotalChecked").text(totalCheckedBoxes);
        }); 

    </script>
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Index" method="post">
        <table class="table" id="myTable">
            <!-- Set the table headers-->
            <thead>
                <tr>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="selectAllCheckBox">
                            <label class="custom-control-label" for="selectAllCheckBox"></label>
                        </div>
                    </th>
                    <th scope="col">Creditor</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Min Pay %</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody id="TableBody">
                <!--Loop through each item from the json file and add the rows-->
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input name="peopleChecked" type="checkbox" class="checkbox custom-control-input" value="@item.id" id="@item.id">
                                <label class="custom-control-label" for="@item.id"></label>
                            </div>
                        </td>
                        <td>@item.creditorName  </td>
                        <td>@item.firstName </td>
                        <td>@item.lastName </td>
                        <td>@item.minPaymentPercentage </td>
                        <td id="balance">@item.balance </td>
                    </tr>
                }

                <tr>
                    <td></td>
                    <td><input type="text" id="creditorInput" name="creditorName" /></td>
                    <td><input type="text" id="firstNameInput" name="firstName" /></td>
                    <td><input type="text" id="lastNameInput" name="lastName" /></td>
                    <td><input type="text" id="minPaymentPercentageInput" name="minPaymentPercentage" /></td>
                    <td><input type="text" id="balanceInput" name="balance" /></td>
                </tr>

            </tbody>
        </table>

        <!--Set the add, remove, Total balance, total row count and total checked elements-->
        <div style="text-align: left">
            <input type="submit" class="btn btn-primary" name="actionBtn" value="Add" id="addBtn" />
            <input type="submit" class="btn btn-primary" name="actionBtn" value="Remove" id="removeBtn" />
        </div>

        <div>
            <div>
                <label>Total: $</label>
                <label id="lblTotalAmount">0</label>
            </div>
            <div>
                <label>Total Row Count: @Model.Count</label>
                <label style="margin-left: 30px">Check Row Count: </label>
                <label id="lblTotalChecked">0</label>
            </div>
        </div>
    </form>
</div>
